<a href="https://colab.research.google.com/github/PedroHudson/PUC_MVP1/blob/main/MVP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
# Importacao do pandas
import pandas as pd

# Importacao do Numpy
import numpy as np

In [86]:
# importando dados de uma url para um dataframe

# url a importar
url_dados = 'https://www.gov.br/receitafederal/dados/arrecadacao-estado.csv?raw=true'

# carga do dataset atraves da url
ipi = pd.read_csv(url_dados, sep=';',encoding='ISO-8859-1')

#type(ipi)

#ipi.shape

#ipi.info()

#ipi_cols=ipi[['Ano','UF','IPI - FUMO','IPI - BEBIDAS','IPI - AUTOMÓVEIS']]

ipi_cols1=ipi[['IPI - FUMO','IPI - BEBIDAS', 'IPI - AUTOMÓVEIS']]

#ipi_cols1.head()

#ipi_cols1.dtypes

ipi_cols1.describe()

#verificando nulls do dataset
#ipi_cols1.isnull().sum()

       IPI - FUMO IPI - BEBIDAS IPI - AUTOMÓVEIS
count        7506          7506             7506
unique       4710          6869             4061
top             0             0                0
freq         2719           635             3208

In [85]:
ipi_cols1.astype(float)

ValueError: ignored

In [8]:
ipi.loc[:,['IPI - FUMO', 'IPI - BEBIDAS', 'IPI - AUTOMÓVEIS']]

       IPI - FUMO IPI - BEBIDAS IPI - AUTOMÓVEIS
0          292096             0                0
1         1329338        812470                0
2         1507146       1791471            27796
3          424862          1419              321
4         5542123      11533707                0
...           ...           ...              ...
7501  126971601,2     6973341,9         27241,63
7502            0   12370118,07      23938732,15
7503    617620,28    1486884,61                0
7504   2015638,64   38143538,16      136301027,2
7505            0     363439,44          6862,02

[7506 rows x 3 columns]